* { box-sizing: border-box; }

header, nav, main, footer { display: block; }

body{
    
    background-color: #3F2860; 
    color:#3F2860; 
    font-family: Verdana, Arial, sans-serif;
}

h1{
    
    padding-left: 2em;
    padding-top: 50px;
    
    
}
nav { 
    font-weight: bold; 
    padding: 1em;
     float: left;
    width: 160px;
} 


nav a {
text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    border: 3px outset #CCCCCC;
    padding: 1em;
    margin-bottom: 1em;
}

nav a:link { color: #3F2860; }
nav a:visited { color: #497777; }
nav a:hover { color: #A26100; border: 3px inset #333333; }



small{
    
    font-size: 0.60em;
    font-style:  italic;
   text-align: center;
}

#wrapper{
    background-color: #F5F5F5;
    min-width: 1200px;
    max-width: 1480px;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;   
}

main{
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 170 px;
    padding-top: 1em;
}
nav ul{
    list-style-type: none;
    padding-left: 0;
}

.studio{
    
    font-style: italic;
}

footer{
    
    background-color:  #9BC1C2;
    font-size: 0.60em;
    font-style: italic;
    text-align: center;
    padding: 1em;
    
}



.floatleft{
    float: left;
    margin-right: 4em;
}

.clear{
    clear: both;
}

header{
    background-color: #9BC1C2;
  background-image: url(Images/lilyheader.jpg);
  background-repeat: no-repeat;
  background-position: right;
  height: 150px;
    
}
table{
    align-content: center;
    text-align: center;
    width: 60%;
    border: 1px solid #3F2860;
    border-collapse: collapse;
    margin-bottom: 1em;
}
td, th{
    padding: 5px;
    border: 1px solid #3F2860;
}

input, textarea{
    display: block;
    margin-bottom: 2em;
}
#mySubmit{
    margin-left: 12em;
}
form{
    padding: 3em;
}
audio{
    display: block;
    margin: 1em;
}

caption{
    margin: 1em;
    font-weight: bold;
    font-size: 120%;
}
tr:nth-of-type(even){
    background-color: #9BC1C2;
}

#mobile { display: none; }
#desktop { display: inline; }

label{
    display: block;
    float: left;
    text-align: right;
    font-weight: bold;
    width: 10em;
    padding-right: 1em;
    
}


@media only screen and (max-width: 1024px) {
    body{
        margin: 0;
        padding: 0;
    }
    #wrapper{
        width: 100%;
        min-width: 0;
        margin: 0;
        padding: 0;
    }
    header{
        padding-top: 1px;
    }
    h1{
        padding-top: 1em;
    }
    nav{
        float: none;
        width: auto;
        padding-left: 2em;
    }
    nav a{
        padding: 0.2em;
        margin-left: 0.3em;
        float: left;
        width: 23%;
    }
    main{
        padding: 2.5em 1em;
        margin: 0;
        font-size: 90%;
        float: none;
    }
    #hero{
        width: 100%;
        height: auto;
    }
    h2,h3,p{
        padding: 0 2em;
    }
    
    dl{
        margin: 25px 50px;
    }
    main ul{
        margin-left: 2em;
    }
    .floatleft{
        margin-left: 2em;
        margin-bottom: 1em;
    }
    .clear{
        padding-left: 2em;
    }  
}

@media only all and (max-width: 768px){
    h1{
        font-size: 2em;
        padding-top: 0.25em;
        padding-left: 1.5em;
        width: 85%;
        text-align: center;
    }
    nav a{
        padding: 0.5em;
        width: 45%;
        float: left;
        min-width: 6em;
        margin-left: 0.5em;
    }
    main{
        padding-top: 0;
    }
    .floatleft{
        float: none;
        display: none;
    }
    #hero{
        display: none;
    }
    footer{
        padding: 0.5em;
        margin: 0;
    }
    #mobile { display: inline; }
    #desktop { display: none; }
}